<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <% include ../partials/head.ejs %>
        <title></title>
    </head>
    <body>
        <h1>Admin Account Registration/Login</h1>
        <nav>
            <ul>
                <li><span class="adminLogin loginAdmin"><a href="/sessions-admin/new">Login to Existing Account</a></li></span>
                <li><span class="adminLogin"><a href="/users-admin/new">Register New Admin Account</a></li></span>
            </ul>
        </nav>
    </body>
</html>