<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<% include ../partials/head.ejs %>
	<title></title>
</head>
<body>

  <div class="container">
	 <% include ../partials/nav.ejs %>
    <div class="jumbotron">
    <h1><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Welcome to the Crud Club.</h1>
    <p>A subscription box company</p>
    </div>

    <h3>Choose your style</h3>
    <div class="row">
      <% for (let i = 0; i < items.length; i++) { %>
      <div class="col-6 col-md-4">
        <a href="/catalog/<%=items[i].id%>"><img src="<%=items[i].img %>"></a><br/>
        <strong><%= items[i].name %><br/></strong>
        <strong>Price: $<em><%= items[i].price %></em><br/><br/></strong>
      </div>
      <% } %>
    </div>
  </div>

</body>
</html>