	<% if (currentUser) { %>
    <nav>
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </nav>
	<% } %>

	<% if (currentAdmin) { %>
    <nav>
        <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </nav>
	<% } %>

	<nav>
		<a href="/catalog/add-to-cart/">My Cart (
		<span class="cart">
			<% if (currentCart) { %>
    		<%= currentCart.totalQty %>
 		 <% }  %>
 		</span>
 	)</a>
	</nav>

	<% if (currentAdmin) { %>
        <a href="/catalog/add-item">Add a New Item</a>
    <% } %>  
