<% if (currentUser) { %>
        <nav class="logout">
            <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
            </form>
        </nav>
        </li>
            <% } %>

        <!-- logout for admin -->
        <% if (currentAdmin) { %>
        <nav class="logout">
            <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Logout"/>
            </form>
        </nav>
    <% } %>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false"> <!-- EVERYTHING INSIDE OF THIS BUTTON WILL BE INSIDE THE HAMBURGER WHEN YOU MINIMIZE/RESIZE -->
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
            </button>
        <a href="#" class="navbar-brand logo">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> CrudClub</a> <!-- # will not link to anything -->
    </div>
        <ul class="nav navbar-nav"> <!-- IF YOU MOVE THESE UL'S OUTSIDE OF THE COLLAPSE DIV THEN IT WILL SHOW WHEN THE WINDOW IS RESIZED -->
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    <div class="collapse navbar-collapse" id="bs-nav-demo"> <!-- this id is associated with data-target="#bs-nav-demo" -->
        </ul>
    <ul class="nav navbar-nav navbar-right"> <!-- This will make new group of content to the right side of the navbar
         -->
         <!-- welcome admin -->
        <li>
        <% if (currentAdmin) { %>
        <a>Welcome <%=currentAdmin.username%>!</a>
        <% } %>
        </li> 
        <!-- welcome customer -->
        <li>
        <% if (currentUser) { %>
        <a>Welcome <%=currentUser.username%>!</a>
        <% }  %>  
        </li>  

         <!-- Admin - Add Item -->
         <li>
            <% if (currentAdmin) { %>
            <a href="/catalog/add-item">Add a New Item</a>
            <% } %> 
         </li>
         <!-- Cart -->
         <li><a href="#">My Cart (
        <span class="cart">
            <% if (currentCart) { %>
            <%= currentCart.totalQty %>
            <% }  %>
        </span>
        )</a></li>
        <!-- logout for user -->
            
    </div>
    </div>
    </ul>        
    </nav>


