img {
    position: relative;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

body {
	padding-top: 70px;
}

.jumbotron {
	color: #2B547E;
	background: #ecf0f1;
}

.navbar-inverse {
	background: white;
}

a {
	color: black;
}

/*This is 10x more specific than just the A tag*/
.navbar-inverse .navbar-nav>li>a {
    color: gray;
}

.navbar-brand {
	color: black;
}

/*Got to inspect element and use more specific one*/
.navbar-inverse .navbar-brand {
    color: gray;
}