img {
    position: relative;
    width:  250px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

body {
	padding-top: 70px;
    text-align: center;
}

.jumbotron {
	color: #696969;
	background: #ecf0f1;
}

.navbar-inverse {
	background: white;
}

a {
	color: black;
}

/*This is 10x more specific than just the A tag*/
.navbar-inverse .navbar-nav>li>a {
    color: gray;
}

.navbar-inverse .navbar-nav li:hover a {
    color: black;
}



/*Got to inspect element and use more specific one*/
.navbar-inverse .navbar-brand {
    color: gray;
}

.logout {
    padding: 0 0 15px 92%;
}

li {
    list-style-type: none;
}





