<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <% include ../partials/head.ejs %>
        <title></title>
    </head>
    <body>
        <h1>Create Admin Account</h1>
        <form action="/users-admin" method="POST">
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <input type="submit" value="Create Admin Account" />
        </form>
    </body>
</html>